src/META-INF/wsdl/localhost_8080/Bank_Application_Server/CustomerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.bank.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bank.com/" name="CustomerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.bank.com/" schemaLocation="http://localhost:8080/Bank_Application_Server/CustomerService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="getCustomerList">
<part name="parameters" element="tns:getCustomerList"/>
</message>
<message name="getCustomerListResponse">
<part name="parameters" element="tns:getCustomerListResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="editCustomerResponse">
<part name="parameters" element="tns:editCustomerResponse"/>
</message>
<message name="InvalidDataException">
<part name="fault" element="tns:InvalidDataException"/>
</message>
<portType name="CustomerService">
<operation name="deleteCustomer">
<input wsam:Action="http://service.bank.com/CustomerService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://service.bank.com/CustomerService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://service.bank.com/CustomerService/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://service.bank.com/CustomerService/createCustomerResponse" message="tns:createCustomerResponse"/>
</operation>
<operation name="getCustomerList">
<input wsam:Action="http://service.bank.com/CustomerService/getCustomerListRequest" message="tns:getCustomerList"/>
<output wsam:Action="http://service.bank.com/CustomerService/getCustomerListResponse" message="tns:getCustomerListResponse"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://service.bank.com/CustomerService/editCustomerRequest" message="tns:editCustomer"/>
<output wsam:Action="http://service.bank.com/CustomerService/editCustomerResponse" message="tns:editCustomerResponse"/>
<fault message="tns:InvalidDataException" name="InvalidDataException" wsam:Action="http://service.bank.com/CustomerService/editCustomer/Fault/InvalidDataException"/>
</operation>
</portType>
<binding name="CustomerServicePortBinding" type="tns:CustomerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDataException">
<soap:fault name="InvalidDataException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerService">
<port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
<soap:address location="http://localhost:8080/Bank_Application_Server/CustomerService"/>
</port>
</service>
</definitions>