src/META-INF/wsdl/localhost_8080/Bank_Application_Server/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.bank.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bank.com/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.bank.com/" schemaLocation="http://localhost:8080/Bank_Application_Server/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="getLogin">
<part name="parameters" element="tns:getLogin"/>
</message>
<message name="getLoginResponse">
<part name="parameters" element="tns:getLoginResponse"/>
</message>
<message name="UsernamePasswordException">
<part name="fault" element="tns:UsernamePasswordException"/>
</message>
<message name="getLogOut">
<part name="parameters" element="tns:getLogOut"/>
</message>
<message name="getLogOutResponse">
<part name="parameters" element="tns:getLogOutResponse"/>
</message>
<message name="getEmployeeList">
<part name="parameters" element="tns:getEmployeeList"/>
</message>
<message name="getEmployeeListResponse">
<part name="parameters" element="tns:getEmployeeListResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<portType name="EmployeeService">
<operation name="deleteEmployee">
<input wsam:Action="http://service.bank.com/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://service.bank.com/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://service.bank.com/EmployeeService/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://service.bank.com/EmployeeService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="getLogin">
<input wsam:Action="http://service.bank.com/EmployeeService/getLoginRequest" message="tns:getLogin"/>
<output wsam:Action="http://service.bank.com/EmployeeService/getLoginResponse" message="tns:getLoginResponse"/>
<fault message="tns:UsernamePasswordException" name="UsernamePasswordException" wsam:Action="http://service.bank.com/EmployeeService/getLogin/Fault/UsernamePasswordException"/>
</operation>
<operation name="getLogOut">
<input wsam:Action="http://service.bank.com/EmployeeService/getLogOutRequest" message="tns:getLogOut"/>
<output wsam:Action="http://service.bank.com/EmployeeService/getLogOutResponse" message="tns:getLogOutResponse"/>
</operation>
<operation name="getEmployeeList">
<input wsam:Action="http://service.bank.com/EmployeeService/getEmployeeListRequest" message="tns:getEmployeeList"/>
<output wsam:Action="http://service.bank.com/EmployeeService/getEmployeeListResponse" message="tns:getEmployeeListResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://service.bank.com/EmployeeService/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://service.bank.com/EmployeeService/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsernamePasswordException">
<soap:fault name="UsernamePasswordException" use="literal"/>
</fault>
</operation>
<operation name="getLogOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:8080/Bank_Application_Server/EmployeeService"/>
</port>
</service>
</definitions>