xml-resources/web-service-references/EmployeeService/wsdl/localhost_8080/Bank_Application_Server/EmployeeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.bank.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.bank.com/">

<xs:element name="UsernamePasswordException" type="tns:UsernamePasswordException"/>

<xs:element name="createEmployee" type="tns:createEmployee"/>

<xs:element name="createEmployeeResponse" type="tns:createEmployeeResponse"/>

<xs:element name="deleteEmployee" type="tns:deleteEmployee"/>

<xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>

<xs:element name="editEmployee" type="tns:editEmployee"/>

<xs:element name="editEmployeeResponse" type="tns:editEmployeeResponse"/>

<xs:element name="getEmployeeList" type="tns:getEmployeeList"/>

<xs:element name="getEmployeeListResponse" type="tns:getEmployeeListResponse"/>

<xs:element name="getLogOut" type="tns:getLogOut"/>

<xs:element name="getLogOutResponse" type="tns:getLogOutResponse"/>

<xs:element name="getLogin" type="tns:getLogin"/>

<xs:element name="getLoginResponse" type="tns:getLoginResponse"/>

<xs:complexType name="editEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="delId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="employeeId" type="xs:int"/>
<xs:element name="employeeName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UsernamePasswordException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLogOut">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLogOutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmployeeListResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>